 .projectImage {
    width: 90%;
    max-width: 600px;
    height: auto;
    margin: 2rem auto;
    border-radius: 5%;
    background-color: #fff;
}

.title {
    font-size: 2.8rem;
    text-align: center;
    margin: 2rem auto;
}

.subtitle {
    font-size: 2.4rem;
    text-align: center;
    margin: 1rem auto;
}

.projectHeader {
    font-size: 2rem;
}

.projectSummary {
    margin-top: 1rem;
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

 .ImageSummary {
    position: relative;
    top: 2rem;
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    max-width: 650px;
    margin: 2rem auto;
}
/*
.ImageSummaryTop {
    top: -12rem;
} */

@media screen and (max-width: 350px) {
    .title {
        font-size: 2.1rem;
        text-align: center;
        margin: 2rem auto;
    }

    .projectHeader {
        font-size: 1.3rem;
    }

    .ImageSummary {
        font-size: 1rem;
    }

    .ImageSummaryTop {
        position: relative;
        top: -1rem;
    }
}

@media screen and (max-width: 700px) {
  .ImageSummaryTop {
    position: relative;
    top: -2rem;
 }

}